<!DOCTYPE html>
<html>
  <head>
    <title>Theme C</title>
    <link href="/assets/theme_c/all.css?body=1" media="all" rel="stylesheet" />
    <script src="/assets/theme_c/all.js?body=1"></script>
  </head>
  <body>
    {{ content_for_layout }}
  </body>
</html>