!!!
%html
  %head
    %title Basic blue
    = stylesheet_link_tag    "basic_blue/all", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "basic_blue/all", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    = yield